.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 19rem 1fr 19rem;
    row-gap: 20px;
    column-gap: 10px;
    background-color: rgba(91, 101, 112, 0.7);
    z-index: 10;
    border-radius: 30px;
    padding: 10px;
}

.poster {
    grid-column: 1 / 2;
    width: 260px;
    margin: 0 auto;
}

.poster img {
    border-radius: 30px;
    box-shadow: 0px 0px 40px 1px rgba(255, 255, 255, 0.2);
}

.screening {
    grid-column: 2 / 3;
}

.screening h2, 
.screening h3 {
    text-align: center;
}

.hall {
    perspective: 1000px;
    margin-bottom: 30px;
}

.hall__screen {
    background-color: #fff;
    height: 10rem;
    width: 20rem;
    margin: 1rem auto 3rem;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75); 
}

.hall__seats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 17rem;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.seat {
    background-color: #5b6570;
    padding: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 2px 4px;
    width: 2rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(#000, 0.15);  
}

.seat:hover {
    color: #f1b881;
    transition: 0.3s all;
  }

.seat__available {
    color: green;
    font-weight: 700;
    cursor: pointer;
}

.seat__unavailable {
    color: red;
    font-weight: 700;
    cursor: not-allowed;
  }

  .seat__selected {
    color: #f1b881;
    font-weight: 700;
    cursor: pointer;
  }

.seat:nth-of-type(2),
.seat:nth-of-type(8),
.seat:nth-of-type(14),
.seat:nth-of-type(20) {
  margin-right: 2rem;
}

.summary {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px repeat(4, 30px) 1fr;
    
    justify-items: center;
   
}

.summary__title {
    grid-column: 1 / -1;
    text-align: center;
}

.summary__buttons {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 6 / 7;
    align-content: end;
    max-width: 200px;

}

.summary__warning {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
    text-align: center;
    transition: 0.4s all;
}
